@model NutrientImageListViewModel

@{
    ViewData["Title"] = "GetAllNutrientImages";
    Layout = "~/Areas/Admins/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div id="addButtonTable">
        <table>
            <tr>
                <td>Besin eklemek için ekle butonuna tıklayınız</td>
                <td>:</td>
                <td> <a asp-area="Admins" asp-controller="NutrientImages" asp-action="Add" id="categoryAddButton">Resim Ekle</a></td>
            </tr>
        </table>
    </div>

    @if (Model != null)
    {
        <div>
            <table class="table" id="categoryListTable">
                <thead>
                    <tr>
                        <td>Id</td>
                        <td>Besin Adı</td>
                        <td>Resim</td>
                        <td>Oluşturulma Tarihi</td>
                        <td>Güncellenme Tarihi</td>
                        <td>Sil</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var nutrientImage in Model.NutrientImages.NutrientImages)
                    {
                        <tr>
                            <td>@nutrientImage.Id</td>
                            <td>@nutrientImage.Nutrient.Name</td>
                            <td><img src="@nutrientImage.ImageUrl" class="card-img-top"></td>
                            <td>@nutrientImage.CreatedDate</td>
                            <td>@nutrientImage.ModifiedDate</td>
                            <td><a href="/Admins/NutrientImages/Delete/@nutrientImage.Id" id="categoryListTableButton">Sil</a></td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    }
    else
    {
        <p>Hiç Veri Bulunamadı</p>
    }
</div>

